@model IEnumerable<PROG_POE_PART_2_AGRI_ENEGRY.Models.Farmer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Farmer Name
            </th>
            <th>
                Farmer Surname
            </th>
            <th>
                Age
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farmer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => farmer.FarmerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => farmer.FarmerSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => farmer.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => farmer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => farmer.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => farmer.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => farmer.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@farmer.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@farmer.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@farmer.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
